{% load staticfiles %}
{% block title %} 
<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{%endblock %}
{% block content %}

  {% if not user.is_authenticated %}
   <div class="header">
    <h1> <center> Bloq. </center></h1>
    <h2><center> A Modern Day Blog</center></h2>
</div>
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <center style="padding-top:100px">
  <form action="/accounts/auth/" method="post">{% csrf_token %}
    <label style=" color:white;" for="username">Username:</label>
    <input type="text" name="username" value="" id="username">
    <label  style=" color:white;" for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
  </form>
    <a href="/accounts/register"> Register </a>
  </center>

  {% else %}

  <script>
      window.location = "bloq/";
   </script>
{% endif %}
{% endblock %}