* {
    font-family: 'Droid Serif', 'sans-serif';
    letter-spacing: 1px;
}

body{
    background-color: #36465d;
}

nav {
    padding: 0 10px;
    font-size: .9em;
}

a { 
    /*default is underline*/
    text-decoration: none;
    font-family: 'Droid Serif', 'sans-serif';
    /*default is blue*/
    color: white;
}

button {
  color:black;
}
a:hover{
    text-decoration: underline;
}

.header {
	color:white;
	margin-top:50px;
}

.header h1{
	font-size: 3.2em;
}

.header h2{
	font-size: 1.7em;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

.filler{
  width:20%;
}
.post {
  margin-right:50px;
  background-color:whitesmoke;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.create {
  padding-top: 50px;
  text-align: center;
}