{% extends 'MasterPages/MasterPage.html'%}
{% load staticfiles %}
{% block title%}Home{%endblock%}
{% block content %}
	{% if not user.is_authenticated %}
			<script>
				window.location = "/";
			</script>
{% else %}

	<div style="padding-bottom:50px" class="header">
   		<h1> <center> Bloq. </center></h1>
    	<h2><center> A Modern Day Blog</center></h2>
	</div>
	<div id="content">
	</div>
	<center>
		<script type="text/babel" src="{% static 'js/indexReact.js' %}"></script>
	</center>

{% endif %}
{% endblock %}